.footer {
    border: solid 1.5px #7fdbff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.footer__icons-item {
    width: 40px;
    height: 40px;
    fill: #7fdbff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin: 0 auto;
}