input {
    display: block;
    background-color: inherit;
    border-radius: 10px;
    color: inherit;
    border-color: rgb(7, 255, 7);
    margin: 10px 0;
    padding: 5px 10px;
}

input::placeholder {
    text-align: center;
}

input:focus {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}