
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');


body {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    height: 100vh;
    background-color: black;
    color: rgb(7, 255, 7);
    text-shadow: 0 0 10px lime;
}

a, u {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}