
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');


body {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    height: 100vh;
    background-color: #001f3f;
    color: #7FDBFF;
    text-shadow: 0 0 10px #94dcf8;
}

a, u {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}