.article {
    width: 100%;
    /* height: 70%; */
}

.article__title {
    /* display: block; */
    text-align: center;
    padding: 20px 0;
}

.article__textarea {
    width: 100vh;
    /* height: 70%; */
    font-size: 30px;

    border: 1px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: white;
}

.article__button {
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}