.write-article {
	width: 100%;
	height: 100vh;
}

.write-article__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.write-article__input {
	width: 800px;
	text-align: center;
}

.write-article__input::placeholder {
	color: rgb(183, 183, 183);
}

.write-article__textarea {
	width: 100%;
	height: 650px;
	font-size: 30px;
	resize: none;
    overflow-y: hidden;
	border: 1px solid white;
	border-radius: 10px;
	background-color: inherit;
	color: white;
}

.write-article__button {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

.write-article__content-input::placeholder{
	text-align: left;
	font-size: 35px;
	color: inherit;
}

.write-article__content-input {
	all: unset;
	padding: 20px 0;
	font-size: 35px;
}

.write-article__paragraph-item::placeholder {
	color: inherit;
}

.write-article__paragraph-item:focus {
	color: white;
}


.write-article__paragraph-item {
	all: unset;
	overflow: hidden;
	resize: none;
	overflow-wrap: break-word;
	min-width: 100%;
	font-size: 35px;
	padding: 20px 0;
}

.success__save {
	text-align: center;
	color: rgb(0, 175, 0);
	font-size: 2.4rem;
	text-shadow: 0 0 10px rgb(61, 193, 61);
}