header {
	padding-top: 10px;
}

.header__link:hover {
	color: white;
	text-shadow: 0 0 10px white;
}

.nav {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	border: 1.5px solid;
	border-color: inherit;
	border-radius: 5px;
}

.signIn {
}

.signIn__slash {
	display: inline-block;
	margin: 0 5px;
}

.account {
	width: 150px;
	display: flex;
	justify-content: space-between;
}
