button {
    background-color: inherit;
    color: inherit;
    border-radius: 8px;
    border-color: inherit;
    padding: 10px 20px;
}

button:active {
    border-color: white;
    color: white;
}

button:hover {
    cursor: pointer;
}