button {
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    border-color: rgb(7, 255, 7);
    padding: 5px 20px;
}

button:active {
    border-color: white;
    color: white;
}

button:hover {
    cursor: pointer;
}